.press-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.press-links {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}