.song {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-family: 'MADE Outer Sans Light';
    color: var(--main-white)
}

.song-artwork {
    width: 80%;
}
.player {
    width: 80%;
    height: 20px;
}

/* @media only screen and (min-width: 750px) {
    .song-artwork {
        width: 100%;
    }
} */