.button {
    width: fit-content;
    color: var(--main-black);
    border: 1px solid var(--main-black);
    border-radius: 25px;
    padding: 0.5em 1em;
    margin: 10px;
    font-family: 'MADE Outer Sans Thin';
}

.button:hover {
    cursor: pointer;
    color: var(--main-yellow);
    background-color: var(--main-black);
}