.press {
    border-radius: 10px;
    background-image: url('../../../images/textures/blackTexture.3.jpg');
    background-size: 100%;
    background-repeat: repeat;
    color: white;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 2em 1em 0 1em;
    align-items: center;
    gap: 1em;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    transition: 0.1s linear;
}

.press:hover {
    transform: translateY(-2px) translateX(-2px);
}

.press-title, .press-source {
    font-family: 'MADE Outer Sans Thin';
}

.press-image{
    width: 100%;
    max-height: 240px;
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
}

.press-image img {
    width: 100%;
}

.press-button {
    justify-self: center;
    background-color: var(--main-red);
    border: 1px solid var(--main-red);
}

.press-button:hover {
    background-color: transparent;
    color: var(--main-red);
    border: 1px solid var(--main-red);
}