.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.black-rip-transition-down {
    width: 150%;
    display: flex;
    z-index: 1;
}

.about-us-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 2em;
    color: var(--main-red);
    align-self: center;
    text-align: center;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.about-us-hero-image {
    width: 100%;
    margin-top: -100px;
}

.black-rip-tranisition-up{
    width: 150%;
    margin-top: -100px;
}

.about-us-paragraph {
    width: 80%;
    color: var(--main-white);
    font-family: 'MADE Outer Sans Light';
    gap: 1em;
}

.red-transition {
    width: 100%;
    margin-top: 2em;
    display: flex;
    position: static;
    z-index: 1;
}

.press-links-section {
    width: 100%;
}

.press-links-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 2em;
    color: var(--main-white);
    position: absolute;
    align-self: center;
    text-align: center;
    width: 100%;
}

.video-section {
    width: 100%;
}

.video-title, .about-contact-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 2em;
    color: var(--main-white);
    position: absolute;
    align-self: center;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 750px) {
    .black-rip-transition-down {
        width: 100%;
    }
    .about-us-hero-image {
        margin-top: -200px;
    }
    .black-rip-tranisition-up{
        width: 100%;
        margin-top: -200px;
    }
}