.home {
    background-image: url('../../images/textures/WF-Yellow-Paper-Texture.1.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 3em;
    color: var(--main-white);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 0 5px 5px rgb(70, 70, 70);
}

.hero-image {
    width: 100%;
    height: fit-content;
}

.hero-image img {
    width: 100%;
}

.new-releases {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-top: 5em;
}

.merch-highlights {
    display: flex;
}

.home-about-us {
    width: 100%;
    height: fit-content;
    background-image: url('../../images/textures/WF-Flat-Paper-Texture.1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    padding-top: 10em;
    padding-bottom: 12em;
}

.home-about-us-title, .listen-title, .contact-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 3em;
    color: var(--main-yellow);
    margin: 1em;
}

.home-about-us-img-p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.live-at-owl {
    height: 300px;
    width: auto;
}

.home-about-us-paragraph {
    margin: 4em 0;
    width: 50%;
    color: var(--main-white);
    font-family: 'MADE Outer Sans Light';
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.listen-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10em;
}

.listen-title {
    color: var(--main-black);
}

