.home {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
}

.hero-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 3em;
    color: var(--main-white);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 0 0px 10px var(--main-black);
}

.hero-image {
    background-image: url('../../images/textures/WF-Header-Design.1.jpg');
    width: 100%;
    height: 1200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.new-releases {
    background-image: url('../../images/textures/WF-Yellow-Paper-Texture.1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding-top: 5em;
}

.merch-highlights {
    display: flex;
}

.about-us {
    width: 100%;
    height: fit-content;
    background-image: url('../../images/textures/WF-Flat-Paper-Texture.1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
    padding-top: 10em;
    padding-bottom: 12em;
}

.about-us-title, .listen-title, .contact-title {
    font-family: 'MADE Outer Sans Black';
    font-size: 3em;
    color: var(--main-yellow);
    margin: 1em;
}

.about-us-img-p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.live-at-owl {
    height: 300px;
    width: auto;
}

.about-us-paragraph {
    margin: 4em 0;
    width: 50%;
    color: var(--main-white);
    font-family: 'MADE Outer Sans Light';
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.listen-section {
    width: 100%;
    background-image: url('../../images/textures/WF-Yellow-Paper-Texture.1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10em;
}

.listen-title {
    color: var(--main-black);
}

.contact {
    width: 100%;
    background-image: url('../../images/textures/WF-Flat-Paper-Texture.1.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 0;
}

.contact-title {
    margin: 0;
    margin-top: 5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: 'MADE Outer Sans Thin';
    color: var(--main-yellow);
    width: 60%;
    margin-bottom: 20em;
}

.contact-form input, .contact-form textarea {
    background-color: transparent;
    color: var(--main-yellow);
    border: 1px solid var(--main-yellow);
    padding: 1em;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: var(--main-yellow);
    font-family: 'MADE Outer Sans Thin';
}

.contact-submit {
    color: var(--main-yellow);
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--main-yellow);
    border-radius: 20px;
    font-family: 'MADE Outer Sans Thin';
    width: fit-content;
    align-self: center;
}

.contact-submit:hover {
    background-color: var(--main-yellow);
    color: var(--main-black)
}