.new-release-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MADE Outer Sans Black';
    column-gap: 0.5em;
    row-gap: 0.5em;
    color: var(--main-white);
    text-align: center;
}

.new-release-cover {
    grid-area: image;
    width: 300px;
}

.new-release-title {
    font-size: 2em;
}

.new-release-subtitle {
    font-family: 'MADE Outer Sans Thin';
}   
.new-release-description {
    font-family: 'MADE Outer Sans Thin';
}