.header {
    display: flex;
    flex-direction: column;
}

.header-div {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    background-image: url('../../images/photos/drumsBrewhouse.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: fit-content;
    height: 35vh;
    width: 100%;
    padding-top: 20px;
}

.black-header-rip-2 {
    width: 100vw;
    margin-top: -35px;
}

.black-header-rip {
    display: none;
    width: 150%;
    margin-top: -25%;
}

.wf-red-logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 0;
}
.wf-black-logo:hover {
    cursor: pointer;
}

.nav-menu {
    top: 30px;
    right: 20px;
    height: 30px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 101;
    margin-right: 20px;
}

.nav-menu > span {
    height: 2px;
    width: 30px;
    background-color: white;
    transition: 0.5s;
    border-radius: 2px;
}

.nav {
    background-image: url('../../images/textures/blackTexture.3.jpg');
    background-size: 100%;
    background-repeat: repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    gap: 2em;
    position: absolute;
    z-index: 100;
    transition: 1s;
    box-shadow: 0 0 5px var(--main-red);
}

.nav-menu > span.active:first-of-type {
    transform: translateY(10px) rotate(45deg);
}

.nav-menu > span.active:nth-of-type(2) {
    transform: scaleX(0);
}

.nav-menu > span.active:last-of-type {
    transform: translateY(-10px) rotate(-45deg);
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: var(--main-red);
    padding: 1em;
    font-family: 'MADE Outer Sans Black';
}

.navbar a:hover {
    color: var(--main-white);
}

.navbar a.active {
    color: var(--main-white);
}

.subnav {
    align-self: flex-end;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 3em;
}

.subnav a {
    color: var(--main-red);
}
.subnav a:hover {
    color: var(--main-white);
}

.subnav a:active {
    color: var(--main-red);
}

/*
    GET RID OF THESE BUTTON SELECTORS AND CHANGE THE BUTTON ELEMENTS TO ANCHOR TAGS IN NAVBAR.JS ONCE YOU KNOW HOW TO LINK THOSE TO THE PROPER PLACES
*/
button {
    background-color: transparent;
    border: none;
    color: var(--main-red);
}

button:hover {
    cursor: pointer;
    color: var(--main-white);
}

.arrow {
    display: none;
    animation: bounce 1s infinite alternate;
    animation-play-state: running;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-up {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    z-index: 10;
    text-shadow: 0 0 15px var(--main-black);
    transition: 0.3s;
}

.arrow-up:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.header-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes bounce {
    0% {
        top: -80px;
    }
    100% {
        top: -50px;
    }
}

/*------------------------------*/

@media only screen and (min-width: 1000px) {
    .navbar {
        flex-direction: row;
    }
    .nav {
        top: 0 !important;
        box-shadow: none;
        position: static;
        height: fit-content;
        background-image: url('../../images/textures/blackRipTransitionDown.2.png');
        background-repeat: no-repeat;
        height: 400px;
    }
    .nav-menu {
        display: none;
    }
    .wf-red-logo {
        display: none;
    }
    .header {
        width: 100vw;
    }
    .header-div {
        padding: 0; 
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .subnav {
        width: 30%;
    }
    .black-header-rip {
        display: block;
        width: 100%;
        /* position: relative; */
    }
    .black-header-rip-2 {
        display: none;
    }
    .arrow {
        display: block;
        color: red;
        z-index: 10;
        position: relative;
        top: -80px;
    }
}

@media only screen and (min-width: 1200px) {
    .nav {
        background-position: 0 -50px;
    }
}