* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MADE Outer Sans Black';
  src: url('../src/fonts/made_outer_sans/MADE-Outer-Sans-Black.otf') format('opentype');
}

@font-face {
  font-family: 'MADE Outer Sans Bold';
  src: url('../src/fonts/MADE-Outer-Sans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'MADE Outer Sans Medium';
  src: url('../src/fonts/made_outer_sans/MADE-Outer-Sans-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'MADE Outer Sans Light';
  src: url('../src/fonts/made_outer_sans/MADE-Outer-Sans-Light.otf') format('opentype');
}

@font-face {
  font-family: 'MADE Outer Sans Thin';
  src: url('../src/fonts/made_outer_sans/MADE-Outer-Sans-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'MADE Outer Sans Regular';
  src: url('../src/fonts/made_outer_sans/MADE-Outer-Sans-Regular.otf') format('opentype');
}

:root {
  --main-yellow: #ffecb1;
  --main-black: #000000;
  --main-white: #ffffff;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip;
}