.music-player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    width: 100%;
    height: fit-content;
}

@media only screen and (min-width: 750px) {
    .music-player {
        flex-direction: row;
    }
}